<!DOCTYPE html>{% load staticfiles %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Data page</title>
    <link rel="stylesheet" href="{% static 'css/data_style.css' %}">
</head>

<body>
    <h1>Data will be displayed here</h1>
    <h2>Access records:</h2>

    <div class="djandotwo">
        {% if access_records %}
        <table align='center'>
            <thead>
                <th>Site Name</th>
                <th>Date accessed</th>
            </thead>

            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}

        </table>
        {% else %}
        <p>NO ACCESS RECORDS</p>
        {% endif %}
    </div>

</body>

</html>